


  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 239 \2502  }\a     \2502   ^\a     \2575 \a   dark-sass/src/style.scss 239:2  root stylesheet';
}
